---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import PrimaryFeatures from '../components/PrimaryFeatures.astro';
import Pricing from '../components/Pricing.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Faithful Field - Home">
	<main class="flex-auto">
		<Hero />
		<PrimaryFeatures />
		<Pricing />
		<Testimonials/>
	</main>
</Layout>
