---
import { Picture } from 'astro:assets';
import BackgroundImg from '../assets/background-features.jpg';
import Container from './Container.astro';
import Tab from './Tab.astro';
import googleads from '../assets/GTMOverview.png';
import googleanalytics from '../assets/GoogleAnalyticsTag.png';
import conversionmeasurement from '../assets/reporting.png';

const tabItems = [
    {
        id: "googleads",
        title: "Google Ads",
        description: "Install the right Google Ads Tag (AW vs G) for your website",
        image: googleads
    },
    {
        id: "googleanalytics",
        title: "Google Analytics",
        description: "Setup Analytics Tag (GA) insights and analytics",
        image: googleanalytics
    },
    {
        id: "conversionmeasurement",
        title: "Conversion Measurement",
        description: "Let us measure your conversions and identify insights for growing your business",
        image: conversionmeasurement
    }
];
---

<section aria-label="Features for running campaigns" class="relative overflow-hidden pt-20 pb-28 sm:py-32" id="features">
    <img 
        src={BackgroundImg.src} 
        alt="background" 
        class="absolute left-0 top-0 w-full h-full object-cover opacity-50 -z-10"
    />
    <div class="absolute inset-0 bg-blue-600/75 mix-blend-multiply -z-10"></div>
    
    <Container className="relative z-10">
        <div class="max-w-2xl md:mx-auto md:text-center xl:max-w-none">
            <h2 class="font-display text-3xl tracking-tight text-white sm:text-4xl md:text-5xl">
                Everything you need to run your marketing.
            </h2>
            <p class="mt-6 text-lg tracking-tight text-blue-100">
                Well almost everything but contact us if you need custom services for your marketing needs.
            </p>
        </div>
        <Tab items={tabItems} />
    </Container>
</section>
